nav {
    display: inline;
    color: red;
}
body {
    font-family: roboto;
}
header {
    padding-left: 50px; padding-right: 50px; padding-bottom: 50px; padding-top: 50px;
    background-color: rgb(161, 120, 189);
}
.ab {
    color:rgb(159, 184, 134); 
    font-style: italic;
}
li {
    color: rgb(111, 154, 235);
    font-size: large;
}
h1 {
    color: blue;
    text-decoration: underline;
}
footer{
    background-color: rgb(168, 164, 158);
}